@page "/AnnouncementPerCities"
@using RentalInvestmentAid.Caching
@using RentalInvestmentAid.Core
@using RentalInvestmentAid.Core.Announcement
@using RentalInvestmentAid.Database
@using RentalInvestmentAid.Models.City

@rendermode InteractiveServer

<div class="container">
    @if(_cityTreatment.GetCities()?.Count  == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="cities-informations row">

            @foreach (CityInformations city in CityInformations)
            {
                <AnnouncementPerCity City=city />
            }

        </div>
    }
</div>


@code {
    private IDatabaseFactory _databaseFactory = new SqlServerDatabase();
    private CachingManager _cachingManager = null;
    private CityTreatment _cityTreatment = null;

    public List<CityInformations> CityInformations {
        get
        {
            if(_cityInformations is null || !_cityInformations.Any()){
                _cityInformations = _cityTreatment.GetCitiesWithAnnouncement().OrderBy(x => x.CityName).ToList();
            }
            return _cityInformations;
        } 
    }
    private List<CityInformations> _cityInformations = null;

    protected override Task OnInitializedAsync()
    {
        _cachingManager = new CachingManager(_databaseFactory);
        _cityTreatment = new CityTreatment(_cachingManager, _databaseFactory);

        return base.OnInitializedAsync();
    }

    public void CityLoaded(int cityId, ProgressEventArgs e)
    {
        Console.WriteLine($"City {cityId} loaded");
    }


    
}
