@page "/announcementsRentable"

@using RentalInvestmentAid.Core.Announcement
@using RentalInvestmentAid.Database
@using RentalInvestmentAid.Models
@using RentalInvestmentAid.Models.Announcement
@using RentalInvestmentAid.Models.Bank
@using System.ComponentModel
@using RentalInvestmentAid.Models.Loan
@using RentalInvestmentAid.Models.Rental
@using RentalInvestmentAid.Caching
@using System.Collections.Concurrent

@rendermode InteractiveServer

<div class="container">

    @if (AnnouncementInformation?.Count == 0)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (AnnouncementInformation result in AnnouncementInformation)
        {
            <Announcement AnnouncementInformation=result OnlyRentable=true/>
        }
    }

</div>

@code {
    [CascadingParameter(Name = "CachingManager")]
    public CachingManager _cachingManager { get; set; }

    [CascadingParameter(Name = "DatabaseFactory")]
    public IDatabaseFactory _databaseFactory { get; set; }

    public List<AnnouncementInformation> AnnouncementInformation = new List<AnnouncementInformation>();
    private AnnouncementTreatment _announcementTreatment = null;
    private CancellationTokenSource _cancellationTokenSource;

    public AnnouncementsRentable()
    {
    }

    private async Task GetAnnouncementAsync(CancellationToken cancellationToken)
    {
        await foreach (AnnouncementInformation announcementInformation in _announcementTreatment.GetAnnouncementInformationWithRentabilityCalculatedAndRentableAsync())
        {
            AnnouncementInformation.Add(announcementInformation);
            AnnouncementInformation.OrderBy(ann => ann.CityInformations.CityName);
            await InvokeAsync(StateHasChanged);
            await Task.Delay(1); 
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _announcementTreatment = new AnnouncementTreatment(_cachingManager, _databaseFactory);
            _cancellationTokenSource = new CancellationTokenSource();
           await  GetAnnouncementAsync(_cancellationTokenSource.Token);
        }
    }
}
